#!/bin/bash

# Show the weather status notification after strapd has started.
# To put it into use, remove .sample from this file name.

weather=$(strapd-weather-status 2>/dev/null) || true

if [[ -n $weather && $weather != "Weather unavailable" ]]; then
  strapd-notification-send -u low "$weather"
fi
