[Desktop Entry]
Version=1.0
Name=Discord
Exec=strapd-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=strapd-discord
StartupNotify=true
